# API
BACKEND_API_BASE_URL="http://localhost:8080"
BACKEND_API_KEY=dev-secret-key
NBA_DEFAULT_SEASON="2025-26"
BACKEND_API_TIMEOUT_MS=10000

NODE_ENV="development"

# Auth
NEXTAUTH_SECRET="replace-me"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# DB
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=""
